.DS_Store

**/*

# Creative file
creative/

# Eagle Stuff Until Public
# eagle/
gerber/
lbr/
pdf/
pnp/


*.brd
*.sch
**/*.brd
**/*.sch

# Eagle Libraries
**/*.lbr
**/*.scr

# These are the Eagle Backup files that are created locally
*.b#*
*.s#*
**/*.b#*
**/*.s#*

# release files
!eagle/
!eagle/carts/
!eagle/carts/Atmega32U4/
!eagle/carts/Atmega32U4/Atmega32U4.sch
!eagle/carts/Atmega32U4/Atmega32U4.brd
!eagle/carts/RetroESP32/
!eagle/carts/RetroESP32/RetroESP32.sch
!eagle/carts/RetroESP32/RetroESP32.brd
!gerber/
!gerber/carts/
!gerber/carts/Atmega32U4/
!gerber/carts/Atmega32U4/Atmega32U4.zip
!gerber/carts/RetroESP32/
!gerber/carts/RetroESP32/RetroESP32.zip

