.DS_Store

# Creative file
creative/

# Eagle Stuff Until Public
bom/        # bill of material
dxf/        # drawing exchange format
eagle/    # source files
gerber/     # manufacturing files
lbr/        # library files
pdf/        # pdf files for printing
pnp/        # pick and place files

# Eagle source files
*.brd
*.sch
**/*.brd
**/*.sch

# These are the Eagle Backup files that are created locally
*.b#*
*.s#*
**/*.b#*
**/*.s#*
